<div *ngIf="TopNews else loading" [style.background-image]="'url('+Cover.urlToImage+')'" class="hero">
  <div class="hero-article">
    <div class="pp offset-sm-1 mb-2">
      <div class="container lightSpeedIn slower">
        <div class="row">
          <div class="col-sm-9">
            <p class="category-has-border">{{Cover.source.name}}</p>
            <p class="top-title">{{Cover.title}}</p>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <hr class="hero-hr">
        <div class="container mb-3 ">
          <div class="row">
            <div class="col-sm-4">
              <a [href]=[Cover.url] class="hr-a text-muted"> <i class="fa fa-share hero-icon"></i>Read More</a>
            </div>
            <div class="col-sm-4">
              <a class="hr-a text-muted" href=""><i class="fa fa-arrow-circle-right hero-icon"></i>Share story</a>
            </div>
          </div>
        </div>

        <div class="row" >
          <div *ngFor="let new of TopNews.slice(0,3)" class="col-sm-4 d-none d-sm-block">
            <a [href]=[new.url]>
              <p>{{new.title}}</p>
              <p class="text-muted">{{new.publishedAt | dateFormatter}}</p>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-selected-news *ngIf="TopNews else loading" [Article]="selectedArticle"></app-selected-news>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>
